@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std'), url(/src/fonts/CircularStd-Black.otf) format('otf'), url(/src/fonts/CircularStd-Black.woff) format('woff'),
    url(/src/fonts/CircularStd-Black.woff2) format('woff2');
};

@font-face {
    font-family: 'Gangster Grotesk';
    src: local('Gangster Grotesk'), url(/src/fonts/Gangster-Grotesk.otf) format('otf');
};

body {
    background-color: #1B031F;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
